<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Peaceful Farm</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
		<link rel="stylesheet" href="/static/css/clouds.css">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon">
	</head>
	<body class="bg-blue-200 flex flex-col items-center justify-start min-h-screen relative">
		<!-- Top Menu-->
		<nav class="top-0 left-0 w-full bg-white bg-opacity-70 shadow-md flex items-center justify-between p-4 z-50 h-16">
			<!-- App Icon -->
			<a href="/">
				<div class="flex items-center space-x-2">
					<img src="/static/logo.png" alt="App Icon" class="h-24 w-42">
				</div>
			</a>
			<!-- Menu Items -->
			<div class="flex space-x-2 items-stretch h-full">
				<a href="#" id="submit-flag-btn" title="Submit a flag manually" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/flag.png" class="w-6 h-6">
				</a>
				<a href="csv" title="Download Flags as CSV" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/csv.png" class="w-6 h-6">
				</a>
				<a href="client" title="Download Client" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/exploit.png" class="w-6 h-6">
				</a>
				<a href="settings" title="Settings" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/settings.png" class="w-6 h-6">
				</a>
				<a href="logout" title="Logout" class="flex items-center justify-center bg-[#54c168] hover:bg-[#078030] rounded-xl p-3 transition-all duration-200">
				<img src="/static/logout.png" class="w-6 h-6">
				</a>
			</div>
		</nav>

        <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-white-700">
            <div id="progress-bar" class="bg-[#54c168] h-2.5 rounded-full dark:bg-[#54c168]" style="width: 0%"></div>
        </div>


		<!-- Loading Screen -->
		<div id="loading-screen" class="fixed inset-0 bg-gray-900 bg-opacity-80 flex flex-col items-center justify-center hidden z-50">
			<div class="animate-spin rounded-full h-16 w-16 border-t-4 border-white mb-4"></div>
			<p class="text-white text-lg font-semibold">Applying changes...</p>
		</div>

		<!-- Background with moving clouds -->
		<div id="background-wrap" class="fixed top-0 left-0 w-full h-full -z-10">
			<div class="x1">
				<div class="cloud"></div>
			</div>
			<div class="x2">
				<div class="cloud"></div>
			</div>
			<div class="x3">
				<div class="cloud"></div>
			</div>
			<div class="x4">
				<div class="cloud"></div>
			</div>
			<div class="x5">
				<div class="cloud"></div>
			</div>
		</div>

		<div id="flag-popup" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
			<div class="bg-white p-6 rounded-lg shadow-lg w-96">
				<h2 class="text-lg font-bold mb-4">Submit a Flag</h2>
				<label class="block mb-2">Flag:</label>
				<input type="text" id="flag-input" class="w-full p-2 border border-gray-300 rounded mb-4">
				<div class="flex items-center mb-4">
					<input type="checkbox" id="urgent-flag" class="mr-2">
					<label for="urgent-flag">Urgent</label>
				</div>
				<div class="flex justify-end space-x-2">
					<button id="close-popup" class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
					<button id="submit-flag" class="bg-[#54c168] hover:bg-[#078030] text-white px-4 py-2 rounded">Submit</button>
				</div>
			</div>
		</div>

    <!-- Settings Form Container -->
    <div id="settings-container" class="relative bg-white bg-opacity-90 shadow-lg rounded-2xl p-8 w-11/12 md:w-1/2 text-center mt-20 mb-20">
		<form id="settings-form" class="space-y-6" method="POST">
			<h2 class="text-3xl font-semibold text-gray-800 mb-8">⚙️ Peaceful Farm Settings</h2>
			{% for key, setting in SETTINGS.items() %}
				<div class="flex flex-col items-start">
					<label for="{{ key }}" class="block text-lg font-medium text-gray-700">{{ setting.name }}</label>
					<p class="text-sm text-gray-500 mb-2">{{ setting.description }}</p>
		
					{% if setting.value is boolean %}
						<label class="inline-flex items-center cursor-pointer">
							<input type="checkbox" id="{{ key }}" name="settings[{{ key }}]" {% if setting.value %}checked{% endif %} value="true" class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-white-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-white-600 peer-checked:bg-[#6ec5e9] dark:peer-checked:bg-[#6ec5e9]"></div>
                        </label>
					{% elif setting.value is string %}
						<input type="text" id="{{ key }}" name="settings[{{ key }}]" value="{{ setting.value }}" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
					{% elif setting.value is number %}
						<input type="number" id="{{ key }}" name="settings[{{ key }}]" value="{{ setting.value }}" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
					{% elif setting.value is iterable %}
						<textarea id="{{ key }}" name="settings[{{ key }}]" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" rows="5">[{{ setting.value | join(', ') }}]</textarea>
					{% else %}
						<input type="text" id="{{ key }}" name="settings[{{ key }}]" value="{{ setting.value }}" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
					{% endif %}
				</div>
			{% endfor %}
		
			<h2 class="text-3xl font-semibold text-gray-800 mb-8">⚙️ Plugin settings</h2>
			{% for key, setting in PLUGIN_SETTINGS.items() %}
				<div class="flex flex-col items-start">
					<label for="{{ key }}" class="block text-lg font-medium text-gray-700">{{ setting.name }}</label>
					<p class="text-sm text-gray-500 mb-2">{{ setting.description }}</p>
		
					{% if setting.value is boolean %}
					<label class="inline-flex items-center cursor-pointer">
						<input type="hidden" name="plugin_settings[{{ key }}]" value="false">
						<input type="checkbox" id="{{ key }}" name="plugin_settings[{{ key }}]" {% if setting.value %}checked{% endif %} value="true" class="sr-only peer">
						<div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer dark:bg-white-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-white-600 peer-checked:bg-[#6ec5e9] dark:peer-checked:bg-[#6ec5e9]"></div>
					</label>
					{% elif setting.value is string %}
						<input type="text" id="{{ key }}" name="plugin_settings[{{ key }}]" value="{{ setting.value }}" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
					{% elif setting.value is number %}
						<input type="number" id="{{ key }}" name="plugin_settings[{{ key }}]" value="{{ setting.value }}" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
					{% elif setting.value is iterable %}
						<textarea id="{{ key }}" name="plugin_settings[{{ key }}]" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" rows="5"> {{(setting.value | tojson) }}]</textarea>
					{% else %}
						<input type="text" id="{{ key }}" name="plugin_settings[{{ key }}]" value="{{ setting.value }}" class="w-full p-3 mt-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
					{% endif %}
				</div>
			{% endfor %}
		
			<button type="button" class="mt-6 bg-[#6ec5e9] text-white p-3 rounded-lg text-lg font-medium hover:bg-[#55a5c0] transition-all w-full" onclick="sendSettings()">Save All Settings</button>
		</form>
		
    </div>

		<div id="notifications-container" class="fixed bottom-4 right-4 space-y-2"></div>
		<script>
			const notification_sound = new Audio('/static/snd/notification.mp3');
			document.addEventListener("keydown", function(event) {
				if (event.key === "Enter") {
					sendSettings();
				}
			});
			
			function sendSettings() {
				// Crea un oggetto per raccogliere tutte le impostazioni
				const formData = {};

				// Raccogli i dati delle impostazioni generali
				const settingsElements = document.querySelectorAll('#settings-form input, #settings-form textarea');
				settingsElements.forEach((element) => {
					if (element.type === 'checkbox') {
						// Se l'elemento è una checkbox, controlla se è selezionato
						formData[element.name] = element.checked ? 'true' : 'false';
					} else {
						// Altrimenti, prendi il valore dell'input o del textarea
						formData[element.name] = element.value;
					}
				});

				console.log(JSON.stringify(formData))
				loadingTimeout = setTimeout(() => {
					document.getElementById('loading-screen').classList.remove('hidden');
				}, 2000);
				fetch('/settings', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(formData)
				})
				.then(response => {
					window.location.href = response.url;
				})
				.catch(error => console.error('Error:', error))
				.finally(() => {
				// Hide loading screen after request completes
				document.getElementById("loading-screen").classList.add("hidden");
    });
				
			}
			
			function showNotification(message, color) {
                // Create a new notification element
                const notification = document.createElement('div');
                if (color === "green")
                {
                    notification.classList.add('bg-[#54c168]', 'text-white', 'p-4', 'rounded-lg', 'shadow-lg', 'flex', 'items-center', 'justify-between', 'space-x-2');
                }
                else if (color === "blue")
                {
                    notification.classList.add('bg-[#6ec5e9]', 'text-white', 'p-4', 'rounded-lg', 'shadow-lg', 'flex', 'items-center', 'justify-between', 'space-x-2');
                }
				notification_sound.play();
                // Create the message content with HTML formatting
                const messageElement = document.createElement('div');
                messageElement.innerHTML = message; // Insert HTML content to format the message
                
                // Create the close button
                const closeButton = document.createElement('button');
                closeButton.classList.add('text-white', 'font-bold');
                closeButton.innerHTML = '&times;';
                closeButton.onclick = function() {
                    notification.remove();
                };
                
                // Add the message and close button to the notification
                notification.appendChild(messageElement);
                notification.appendChild(closeButton);
                
                // Add the notification to the container
                const container = document.getElementById('notifications-container');
                container.appendChild(notification);
                
                // Automatically hide the notification after 5 seconds
                setTimeout(() => {
                    notification.remove();  // Remove the notification after 5 seconds
                }, 10000);
            }

			
			// Ascolta le notifiche dal server (Socket.IO)
			const socket = io.connect('{{address}}');
			socket.on('message', function(message) {
			console.log(message);
			showNotification(message.data, message.color || "green");
			});

            function calculateTickPercentage(startDate, tickDuration) {
            // Get the current date and time
            const currentDate = new Date();

            // Calculate the time difference in milliseconds between the current date and the start date
            const timeDifference = currentDate - new Date(startDate);

            // Calculate the position within the tick (between 0 and tickDuration)
            const tickPosition = timeDifference % tickDuration;

            // Calculate the percentage of the tick completed
            const percentage = (tickPosition / tickDuration) * 100;

            return percentage;
        }

        function updateProgressBar() {
            const competitionStartDate = '{{start}}'; // Start date of the competition (ISO format)
            const tickDuration = '{{tick}}'; // Duration of each tick in milliseconds (e.g., 60,000 ms = 1 minute)

            // Calculate the current progress percentage
            const tickPercentage = calculateTickPercentage(competitionStartDate, tickDuration);

            // Update the progress bar width based on the calculated percentage
            const progressBar = document.getElementById('progress-bar');
            progressBar.style.width = `${tickPercentage}%`;
        }

		document.getElementById('submit-flag-btn').addEventListener('click', function(event) {
			event.preventDefault(); // Evita la navigazione predefinita
			document.getElementById('flag-popup').classList.remove('hidden');
		});

		document.getElementById('close-popup').addEventListener('click', function() {
			document.getElementById('flag-popup').classList.add('hidden');
		});

		document.getElementById('submit-flag').addEventListener('click', function() {
			const flag = {'Front-End Submission' : [document.getElementById('flag-input').value]};
			const isUrgent = document.getElementById('urgent-flag').checked;
			const api_key = '{{api_key}}';
			const exploit = 'Front-End Submission';
			const service = 'Front-End Submission';
			const nickname = 'Front-End Submission';
			
			if (document.getElementById('flag-input').value.trim() === "") {
				
				return;
			}
			
			fetch('/flags', {
				method: 'POST',
				headers: {
				'Content-Type': 'application/json',
				},
				body: JSON.stringify({
				flags: flag,
				exploit: exploit,
				service: service,
				nickname: nickname,
				api_key: api_key,
				urgent: isUrgent
				})
			}).catch(error => {
				// Handle error
				alert('An error occurred. Please try again later.');
				console.log(error);
			});
		});

		document.getElementById('flag-popup').addEventListener('click', function(event) {
		// Se l'utente clicca sullo sfondo (non sulla finestra del popup)
		if (event.target === this) {
			this.classList.add('hidden');
		}
		});


        // Update the progress bar every 200 milliseconds
        setInterval(updateProgressBar, 200);
		</script>
	</body>
</html>
