<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Peaceful Farm</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
		<link rel="stylesheet" href="/static/css/clouds.css">
		<link rel="icon" href="static/favicon.ico" type="image/x-icon">
	</head>
	<body class="bg-blue-200 flex flex-col items-center justify-start min-h-screen relative">
		<!-- Top Menu-->
		<nav class="top-0 left-0 w-full bg-white bg-opacity-70 shadow-md flex items-center justify-between p-4 z-50 h-16">
			<!-- App Icon -->
			<a href="/">
				<div class="flex items-center space-x-2">
					<img src="/static/logo.png" alt="App Icon" class="h-24 w-42">
				</div>
			</a>
			<!-- Menu Items -->
			<div class="flex space-x-2 items-stretch h-full">
				<a href="#" id="submit-flag-btn" title="Submit a flag manually" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/flag.png" class="w-6 h-6">
				</a>
				<a href="csv" title="Download Flags as CSV" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/csv.png" class="w-6 h-6">
				</a>
				<a href="client" title="Download Client" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/exploit.png" class="w-6 h-6">
				</a>
				<a href="settings" title="Settings" class="flex items-center justify-center bg-[#6ec5e9] hover:bg-[#55a5c0] rounded-xl p-3 transition-all duration-200">
				<img src="/static/settings.png" class="w-6 h-6">
				</a>
				<a href="logout" title="Logout" class="flex items-center justify-center bg-[#54c168] hover:bg-[#078030] rounded-xl p-3 transition-all duration-200">
				<img src="/static/logout.png" class="w-6 h-6">
				</a>
			</div>
		</nav>

        <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-white-700">
            <div id="progress-bar" class="bg-[#54c168] h-2.5 rounded-full dark:bg-[#54c168]" style="width: 0%"></div>
        </div>
        

		<!-- Background with moving clouds -->
		<div id="background-wrap" class="fixed top-0 left-0 w-full h-full -z-10">
			<div class="x1">
				<div class="cloud"></div>
			</div>
			<div class="x2">
				<div class="cloud"></div>
			</div>
			<div class="x3">
				<div class="cloud"></div>
			</div>
			<div class="x4">
				<div class="cloud"></div>
			</div>
			<div class="x5">
				<div class="cloud"></div>
			</div>
		</div>

		<div id="flag-popup" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
			<div class="bg-white p-6 rounded-lg shadow-lg w-96">
				<h2 class="text-lg font-bold mb-4">Submit a Flag</h2>
				<label class="block mb-2">Flag:</label>
				<input type="text" id="flag-input" class="w-full p-2 border border-gray-300 rounded mb-4">
				<div class="flex items-center mb-4">
					<input type="checkbox" id="urgent-flag" class="mr-2">
					<label for="urgent-flag">Urgent</label>
				</div>
				<div class="flex justify-end space-x-2">
					<button id="close-popup" class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded">Cancel</button>
					<button id="submit-flag" class="bg-[#54c168] hover:bg-[#078030] text-white px-4 py-2 rounded">Submit</button>
				</div>
			</div>
		</div>

		<!-- Centered Content Container -->
		<div class="relative bg-white bg-opacity-90 shadow-lg rounded-xl p-8 w-11/12 mt-20 flex flex-col">
            <h1 class="text-3xl font-bold text-[#6ec5e9] text-center tracking-tight">
                REJECTED FLAGS INFO <br>{{data_type}}: {{value}}
            </h1>              
            <!-- Table -->
			<table class="min-w-full table-auto border-collapse pt-6 rounded-lg overflow-hidden mt-4">
				<thead class="bg-[#54c168] text-white">
					<tr>
						<th class="px-4 py-2 border-b">
							<img src="/static/msg.png" class="inline-block w-4 h-4 ml-2">
							Message 
						</th>
						<th class="px-4 py-2 border-b">
							<img src="/static/date.png" class="inline-block w-4 h-4 ml-2">
							Date
						</th>
						<th class="px-4 py-2 border-b">
							<img src="/static/flag.png" class="inline-block w-4 h-4 ml-2">
							Flag
						</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="notifications-container" class="fixed bottom-4 right-4 space-y-2"></div>

		<!-- Constants -->
		<script>
			const g_address = '{{address}}';
			const g_start = '{{start}}';
			const g_tick = '{{tick}}';
		</script>

		<script src="{{ url_for('static', filename='js/basic_functions.js') }}"></script>
		<script src="{{ url_for('static', filename='js/info.js') }}"></script>
	</body>
</html>
